**Lab Exercise 1**

**Instructions**:

1.   Complete the missing code for the two functions ( **square_list**() and **even_or_odd_dict**() ) in the last two cells of this notebook. Make sure the outputs of these two cells are visible.
2.   Save the notebook (File --> Save).
3.   Once completed, rename this notebook file by replacing 'NSID' with your own USask NSID (e.g., abc123_lab1.ipynb) and submit it to Canvas by the end of the lab session.


**Help**:
1.   We provide several examples at the beginning of this notebook that cover some basic concepts in Python. Feel free to run each cell to see their outputs.

In [1]:
# Strings
name = "Data Analytics"
greeting = "Welcome to " + name  # Concatenation
print("Concatenated String:", greeting)

repeated = "Python! " * 3  # Repetition
print("Repeated String:", repeated)

Concatenated String: Welcome to Data Analytics
Repeated String: Python! Python! Python!

In [2]:
# Lists
fruits = ["apple", "banana", "cherry"]
print("Initial List:", fruits)

fruits.append("orange")  # Adding an element
print("After Adding an Element:", fruits)

fruits.remove("banana")  # Removing an element
print("After Removing an Element:", fruits)

Initial List: ['apple', 'banana', 'cherry']
After Adding an Element: ['apple', 'banana', 'cherry', 'orange']
After Removing an Element: ['apple', 'cherry', 'orange']

In [3]:
# Dictionaries
person = {"name": "Alice", "age": 25, "location": "Saskatoon"}
print("Initial Dictionary:", person)

person["age"] = 26  # Updating a value
print("After Updating a Value:", person)

person["profession"] = "Data Scientist"  # Adding a key-value pair
print("After Adding a Key-Value Pair:", person)

Initial Dictionary: {'name': 'Alice', 'age': 25, 'location': 'Saskatoon'}
After Updating a Value: {'name': 'Alice', 'age': 26, 'location': 'Saskatoon'}
After Adding a Key-Value Pair: {'name': 'Alice', 'age': 26, 'location': 'Saskatoon', 'profession': 'Data Scientist'}

In [4]:
# Sets
numbers = {1, 2, 3, 4, 4}  # Duplicate 4 is removed
print("Initial Set:", numbers)

numbers.add(5)  # Adding an element
print("After Adding an Element:", numbers)

numbers.remove(2)  # Removing an element
print("After Removing an Element:", numbers)

Initial Set: {1, 2, 3, 4}
After Adding an Element: {1, 2, 3, 4, 5}
After Removing an Element: {1, 3, 4, 5}

In [5]:
# For loop to iterate over a list
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print("Fruit:", fruit)

Fruit: apple
Fruit: banana
Fruit: cherry

In [6]:
# While loop to print numbers from 1 to 5
counter = 1
while counter <= 5:
    print("Counter:", counter)
    counter += 1

Counter: 1
Counter: 2
Counter: 3
Counter: 4
Counter: 5

In [7]:
# Nested loop to create a multiplication table
for i in range(1, 4):  # Outer loop for rows
    for j in range(1, 4):  # Inner loop for columns
        print(f"{i} x {j} = {i * j}")
    print("---")  # Separator for each row

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
---

In [8]:
# Using break to exit a loop
for num in range(1, 10):
    if num == 5:
        print("Breaking the loop at:", num)
        break
    print("Number:", num)

Number: 1
Number: 2
Number: 3
Number: 4
Breaking the loop at: 5

In [9]:
# Using continue to skip an iteration
for num in range(1, 6):
    if num == 3:
        print("Skipping number:", num)
        continue
    print("Number:", num)

Number: 1
Number: 2
Skipping number: 3
Number: 4
Number: 5

In [10]:
# Creating a list using a for loop in list comprehension
squares = [x ** 2 for x in range(1, 6)]
print("Squares:", squares)

Squares: [1, 4, 9, 16, 25]

In [11]:
# Looping through a dictionary
person = {"name": "Alice", "age": 25, "location": "Saskatoon"}

for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 25
location: Saskatoon

In [12]:
# Example Python Functions

# Convert Fahrenheit to Celsius
def fahr_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5 / 9

# Visualize: A simple example to display a message
def visualize(data):
    for item in data:
        print(f"Data point: {item}")

# Detect problems: Find negative numbers in a list
def detect_problems(data):
    problems = [num for num in data if num < 0]
    return problems

# Examples
print("Fahrenheit to Celsius (32°F):", fahr_to_celsius(32))
visualize([1, 2, 3, 4])
print("Detected Problems:", detect_problems([-1, 2, -3, 4]))

Fahrenheit to Celsius (32°F): 0.0
Data point: 1
Data point: 2
Data point: 3
Data point: 4
Detected Problems: [-1, -3]

In [13]:
# Function to compute square of a number
def square(num):
    return num ** 2

print("Square of 5:", square(5))

Square of 5: 25

In [14]:
# Function to heck if a number is even or odd
def is_even_or_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

print("Number 7 is:", is_even_or_odd(7))

Number 7 is: Odd

In [44]:
###############################################################################
# TODO:                                                                       #
# Question 1: Complete the 'square_list' function below.
# The function takes a list of numbers as input and returns a new list
# with the squares of each number in the input list.
###############################################################################
def square_list(nums):
# *****BEGIN YOUR CODE (DO NOT DELETE/MODIFY THIS LINE)*****
    new_list = []
    
    for num in nums:
        num = num ** 2
        new_list.append(num)
        
    return new_list


# *****END OF YOUR CODE (DO NOT DELETE/MODIFY THIS LINE)*****
# Testing the function
print("Squares of [2, 4, 6]:", square_list([2, 4, 6])) # Output: Squares of [2, 4, 6]: [4, 16, 36]

Squares of [2, 4, 6]: [4, 16, 36]

In [45]:
###############################################################################
# TODO:                                                                       #
# Question 2: Complete the 'even_or_odd_dict' function below.
# The function takes a list of numbers as input and returns a dictionary.
# The keys of the dictionary will be the numbers, and the values will be string
# indicating whether the number is 'Even' or 'Odd'.
###############################################################################
def even_or_odd_dict(nums):
# *****BEGIN YOUR CODE (DO NOT DELETE/MODIFY THIS LINE)*****
    even_odd_dict = {}
    for num in nums:
        if num % 2 == 0:
            even_odd_dict[num] = "Even"
        else:
            even_odd_dict[num] = "Odd"

    return even_odd_dict


# *****END OF YOUR CODE (DO NOT DELETE/MODIFY THIS LINE)*****
# Testing the function
print("Even or Odd dictionary [2, 3, 4]:", even_or_odd_dict([2, 3, 4])) # Output: Even or Odd dictionary [2, 3, 4]: {2: 'Even', 3: 'Odd', 4: 'Even'}

Even or Odd dictionary [2, 3, 4]: {2: 'Even', 3: 'Odd', 4: 'Even'}